<div class="text-center"> <!-- Đặt trong AuthLayout nên đã có card -->
  <h2 class="text-xl font-semibold mb-4">Xác thực Email</h2>

  <!-- Loading -->
  <div *ngIf="isLoading()">
    <span class="loading loading-spinner loading-lg text-primary my-5"></span>
    <p>Đang xử lý xác thực...</p>
  </div>

  <!-- Success -->
  <div *ngIf="verificationStatus() === 'success'" class="alert alert-success shadow-sm mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{ message() }}</span>
  </div>

  <!-- Error -->
  <div *ngIf="verificationStatus() === 'error'" class="alert alert-error shadow-sm mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2 2m2-2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{ message() }}</span>
  </div>

  <!-- Nút đăng nhập sau khi thành công hoặc gặp lỗi -->
  <button *ngIf="!isLoading()" class="btn btn-primary btn-sm mt-6" (click)="navigateToLogin()">
    Đi đến trang Đăng nhập
  </button>
</div>
